<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <p class="flash">
      <%= flash.notice %>
    </p>
    <div class="inline">
      <ul id="navbar">
        <li><a class="navbar" href="/">Articles</a></li>
        <li><a class="navbar" href="/tags">Tags</a></li>
        <% if logged_in? %>
          <li><a class="navbar" href="/authors">Authors</a></li>
        <% end %>
      </ul>
    </div>
    <div id="container" class="inline">
      <div id="content">
        <%= yield %>
        <hr>
        <h6>
          <% if logged_in? %>
            <%= "Logged in as #{current_user.email}" %>
            <%= link_to "(logout)", logout_path %>
          <% else %>
            <%= link_to "(login)", login_path %>
          <% end %>
        </h6>
      </div>
    </div>
  </body>
</html>
