<h1><%= @band.name %></h1>

<h5>Albums</h5>

<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to "#{album.album_name}", album_url(album) %></li>
  <% end %>
</ul>

<h5>Links</h5>

<ul>
  <li><%= link_to "New Album", new_band_album_url(@band.id), method: :get %></li>
  <li><%= link_to "Edit Album", edit_album_url, method: :get %></li>
  <li><%= link_to "Delete Band", bands_url, method: :delete %></li>
</ul>
