<% action = post.persisted? ? post_url(post) : posts_url %>
<% method = post.persisted? ? "patch" : "post" %>
<% message = post.persisted? ? 'edit.': 'create.' %>

<form action= <%= action %> method="post">
  <input type="hidden" name="_method" value=  <%= method %>>
  <%= auth_token %>

  <div>
    Title:<input type="text" name="post[title]" value= <%= post.title %>>
  </div>
  <div>
    URL:<input type="text" name="post[url]" value= <%= post.url %>>
  </div>
  <div>
    Content:
  <textarea name="post[content]" rows="8" cols="40">
    <%= post.content %>
  </textarea>
  </div>
  <div class="">
    <!-- <input type="hidden" name="post[sub_ids][]" value=''> -->
      <% Sub.all.each do |sub| %>
        <%= sub.title %><input type="checkbox"
                               name='post[sub_ids][]'
                               value= <%= sub.id %>
                               <%= "checked" if post.subs.include?(sub) %>>
      <% end %>
  </div>
  <input type="submit" value="submit.">
</form>
