<!DOCTYPE html>
<html>
<head>
  <title>Linda Music App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Music App on Rails</h1>

<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<% if logged_in? %>
  <p>Logged in as: <%= current_user.email %></p>
  <p><%= button_to "Logout", session_url, method: :delete %></p>
<% end %>
  <p><%= link_to "Back to All Bands", bands_url, method: :get %></p>

<%= yield %>

</body>
</html>
